fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
firebase-admin

# LangChain & LangGraph
langchain
langchain-core
langchain-openai
langchain-text-splitters
langgraph

# OpenAI
openai

# Additional utilities
tiktoken

# Vector memory + Redis
redis
langchain-community
langchain-redis

# Testing
pytest
pytest-asyncio